<div class="d-block border form-subcategory">
    <div>
        There is no such subcategory <b>{{f.name.value}}</b>. Create new?
    </div>
    <form [formGroup]="form">
        <div class="form-group row">
            <label for="form-category" class="col-sm-3 col-form-label">Category:</label>
            <div class="col-sm-9 d-flex">
                <select class="form-control" id="form-category" name="category"
                        formControlName="category_id"
                >
                    <option *ngFor="let category of categories"
                            value="{{category.id}}"
                    >{{category.name}}</option>
                </select>
                <input class="form-control" type="search" placeholder="search"
                       [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
                       (input)="searchCategories()"
                >
            </div>
            <app-form-errors class="col-sm-9 offset-sm-3"
                             [errors]="errors.category_id">
            </app-form-errors>
            <app-form-errors class="col-sm-9 offset-sm-3"
                             [errors]="errors.name">
            </app-form-errors>
        </div>
    </form>
    <app-category-form *ngIf="categories && !categories.length" [category_name]="search"></app-category-form>
    <div>
        <button class="btn btn-success"
                (click)="formSubmit()"
        >Create Subcategory</button>
    </div>
    <div class="pt-2" *ngIf="message">{{message}}</div>
</div>
