<div class="mt-4 col-7 offset-3">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group row">
                    <label for="loginEmail" class="col-md-3 col-form-label text-md-right">Email</label>
                    <div class="col-md-9">
                        <input type="email" formControlName="email" class="form-control" id="loginEmail" placeholder="Email"
                        [ngClass]="{'is-invalid': f.email.errors}"
                        >
                        <app-form-errors
                          [errors]="errors.email">
                        </app-form-errors>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="loginPassword" class="col-md-3 col-form-label text-md-right">Password</label>
                    <div class="col-md-9">
                        <input type="password" formControlName="password" class="form-control" id="loginPassword" placeholder="Password"
                        [ngClass]="{'is-invalid': f.password.errors}"
                        >
                        <app-form-errors
                          [errors]="errors.password">
                        </app-form-errors>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-9 offset-md-3 d-flex justify-content-between">
                        <div class="float-left">
                            <div>
                                <button type="submit" class="btn btn-primary">Log In</button>
                            </div>
                            <div class="mt-1">
                                <app-google></app-google>
                            </div>
                        </div>
                        <div class="float-right">
                            <div>
                                <a class="btn btn-info" routerLink="/register">Register</a>
                            </div>
                            <small class="text-nowrap">
                                <a routerLink="/request-password-reset">Reset password</a>
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
