<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group row">
                    <label for="loginEmail" class="col-md-4 col-form-label text-md-right">Email</label>
                    <div class="col-md-8">
                        <input type="email" formControlName="email" class="form-control" id="loginEmail" placeholder="Email"
                        [ngClass]="{'is-invalid': f.email.errors}"
                        >
                        <app-form-errors
                          [errors]="errors.email">
                        </app-form-errors>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="loginPassword" class="col-md-4 col-form-label text-md-right">Password</label>
                    <div class="col-md-8">
                        <input type="password" formControlName="password" class="form-control" id="loginPassword" placeholder="Password"
                        [ngClass]="{'is-invalid': f.password.errors}"
                        >
                        <app-form-errors
                          [errors]="errors.password">
                        </app-form-errors>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <a class="btn btn-info float-right" routerLink="/register">Register</a>
                    </div>
                </div>
                <small class="float-right">
                    <a routerLink="/request-password-reset">Reset password</a>
                </small>
            </form>
        </div>
    </div>
</div>
