<div class="row">
    <div class="col-sm-4" *ngIf="configs">
        <app-true-false-configuration
            [label]="'Can Register'"
            [config]="configs[0]"
        >
        </app-true-false-configuration>
        <app-true-false-configuration
            [label]="'Need email confirmation'"
            [config]="configs[1]"
        >
        </app-true-false-configuration>
        <app-true-false-configuration
            [label]="'Can use Google login'"
            [config]="configs[2]"
        >
        </app-true-false-configuration>
        <app-true-false-configuration
            [label]="'Can use Facebook login'"
            [config]="configs[3]"
        >
        </app-true-false-configuration>
    </div>

</div>
