:host {
    table.table {

        td.name {
            white-space: normal;
        }

        .income-color {
            color: green;
          }
          .expanses-color {
            color: red;
          }
    }    
}