<div class="table-responsive">
    <table class="table border text-nowrap">
        <thead>
        <tr>
            <th class="name" scope="col">Pavadinimas(kategorija)</th>
            <th class="amount" scope="col">Suma</th>
            <th class="date" scope="col">Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let spending of money" class="{{classIncomeExpanses(spending.amount)}}" title="{{spending.description}}">
            <td class="name d-flex justify-content-between">
                <div>
                    {{spending.sub_category_name}}({{spending.category_name}})
                </div>
                <div>
                    <i class="far fa-edit pr-2"
                     (click)="moneyEditForm(spending)"
                    ></i>
                </div>
            </td>
            <td class="amount">{{spending.amount | plus }}</td>
            <td class="date">{{spending.created_at | date: 'MM-dd HH:mm'}}</td>
        </tr>
        </tbody>
    </table>
</div>
