<div class="row justify-content-center">
    <div class="menu-display-type">
        <div class="menu-mb">
            <div class="d-flex justify-content-between">
                <button class="btn btn-warning mr-sm-1" data-toggle="modal" data-target="#userFormModal" disabled>Create</button>
            </div>
        </div>
        <div class="menu-display-type">
            <input class="form-control mr-sm-1 menu-mb" type="search" placeholder="Search" aria-label="Search"
                   [(ngModel)]="search"
                   (keyup)="searchData()"
                   (search)="searchData()">
            <ngb-pagination
                    *ngIf="users && collectionSize > limit"
                    class="justify-content-center d-flex"
                    [(page)]="page"
                    [pageSize]="limit"
                    [collectionSize]="collectionSize"
                    [maxSize]="3"
                    (pageChange)="updateList()">
            </ngb-pagination>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="number" scope="col">#</th>
                <th class="email" scope="col">Email</th>
                <th class="name" scope="col">Name</th>
                <th class="roles" scope="col">Roles</th>
                <th class="actions" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td class="number">{{user.id}}</td>
                <td class="email">{{user.email}}</td>
                <td class="name">{{user.name}}</td>
                <td class="roles">
                    <div class="form-check form-check-inline text-nowrap"
                        *ngFor="let role of roles">
                        <app-roles [role]="role" [userId]="user.id" [userRoles]="user['roles']"></app-roles>
                    </div>
                </td>
                <td class="actions">
                    <span class="text-success strikethrough">Update </span>
                    <span class="text-danger strikethrough">Delete</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
