<div class="row justify-content-center">
    <div class="menu-display-type">
        <div class="menu-mb">
            <div class="d-flex justify-content-between">
                <button class="btn btn-warning mr-sm-1"
                (click)="categoryCreateForm()"
                >Create</button>
            </div>
        </div>
        <div class="menu-display-type">
            <input class="form-control mr-sm-1 menu-mb" type="search" placeholder="Search" aria-label="Search"
                   [(ngModel)]="queryParams.search"
                   (keyup)="searchData()"
                   (search)="searchData()">
            <ngb-pagination
                    *ngIf="categories && collectionSize > queryParams.limit"
                    class="justify-content-center d-flex"
                    [(page)]="queryParams.page"
                    [pageSize]="queryParams.limit"
                    [collectionSize]="collectionSize"
                    [maxSize]="3"
                    (pageChange)="updateList()">
            </ngb-pagination>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="number">#</th>
                <th class="name">Name</th>
                <th class="actions">Actions</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories">
                <td class="number">{{category.id}}</td>
                <td class="name">{{category.name}}</td>
                <td class="actions">
                    <span class="text-success"
                    (click)="categoryEditForm(category)">Update </span>
                    <span class="text-danger strikethrough">Delete</span>
                </td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
