export const env = {
    API_PORT: 83 , //must be same as main .env file constant API_PORT,
    Google_OAUTH_CLIENT_ID : '' //get this string from https://console.developers.google.com/apis/credentials
};
