export const env = {
    API_PORT: 444 , //must be same as main .env file constant API_PORT,
    GOOGLE_OAUTH_CLIENT_ID : '', //get this string from https://console.developers.google.com/apis/credentials
    FACEBOOK_APP_ID : '', //get this string from https://developers.facebook.com/apps/
};
